<!doctype html>
<html>
<head>
    <title>Ziv Bacch</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/MyCVHomePage.css') }}">
    <script src={{ url_for('static', filename='js/dateUpdateJS.js') }}></script>
</head>
<body>
  
    <div class="grid-container">

        <div class = "image">
              <img src="{{ url_for('static', filename='photos/profile.jpeg') }}" alt= "" width="220px"  onload="updateDate()">
        <p id="imgDate" ></p>
        </div>

         <div class="main">
            <h1>&nbsp;&nbsp;Ziv Bach</h1>
            <div class = "a1">
            <p>
                    &nbsp;&nbsp;I'm a Student in Industrial & Management Engineering specializing in Information Systems at Ben-Gurion University.&nbsp;<br>
                    &nbsp;&nbsp;I'm a quick and self-learner, I aspire to be the best in every aspect that I come across with <br> 
                    &nbsp;&nbsp;a great team player and have excellent inter personal skills.
            </p>
            </div>
             
            <div>
            <ul class ="nav-items">                  
           <li class= "nav-link">  <a href="#linkedin">>Linkedin</a>      </li>
           <li class= "nav-link">  <a href='/recommendation'>>Recommendation</a>      </li>
           </ul>

            </div>
           
        </div>  
           
         <div class="aboutMe">
            <h1>&nbsp;&nbsp;About Me</h1>
            <a href={{ url_for('static', filename= 'pdf/Ziv Bach_CV.pdf') }}> <button type="submit" class="Rbuttun" onclick="location.href='pdf/Ziv Bach_CV.pdf'"> My CV </button> </a>
            <a href='/stayintouch'> <button type="submit" class="Rbuttun" onclick="location.href='Stay in touch.html'"> Stay In Touch </button> </a>
            <a href='/userlist'><button type="submit" class="Rbuttun" onclick="location.href='USERLIST.html'"> user list</button> </a>

         </div>


        <div class="ConactDetails">
            <h1 id="linkedin">Contact Me</h1>
            <p>054-5538199</p>
            <p>zivbach@gmail.com</p>
            <hr>
            <a href="https://www.linkedin.com/in/ziv-bach-a203411b0/"></a><img src={{url_for('static', filename='photos/linkedin.png')}} alt="linkedin" width="40px"></a>
            &nbsp;
            <a href="https://www.facebook.com/ziv.bach/"></a><img src={{ url_for('static', filename='photos/facebook.jpeg') }} alt="facebook" width="40px"></a>

        </div>
      
    </div>
</body>


</html>

