<!doctype html>

<html>
<head>
<title>ziv Bach</title>
         <link rel="stylesheet" href="{{ url_for('static', filename='css/MyCVHomePage.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/Stay In touch.css') }}">
<style>
    form{
        text-align: center;
    }
    title{
      
    }
</style>
</head>
</body>
<div class="returnbut">
   <a href='/'> <button type="submit" class="backbuton" onclick="location.href='MyCVHomePage.html'"> Return to Home Page</button></a>
</div>
<h1 style = "font-size: 35px; color: rgb(202, 117, 20); text-align: center; background-color: rgba(255, 255, 255, 0.65); ">Stay In Touch</h1>
<form>
<div class="part1">
<label for="FirstName">First Name:</label>
<br>
<input name="FirstName" type="text">
<br>
</div>
<div class="part2">
<label for="LastName">Last Name:</label>
<br>
<input name="LastName" type="text" >
<br>
</div>

<div class="part3">
<label for="EmailAddress">Email address:</label>
<br>
<input name="EmailAddress" type="text">
<br>
</div>
<div class="part4">
<label for="PhoneNumber">Phone number:</label>
<br>
<input name="PhoneNumber" type="text" >
<br>
</div>
</div>
<div class="part5">
<label for="Send">Send</label>
<input name="Send" type="submit" value="Send" >
</div>



</form>


</body>
</html>
   