<!doctype html>

<html>
    <head>
        <title>Ziv Bach</title>
         <link rel="stylesheet" href="{{ url_for('static', filename='css/Recommendation.css') }}">
    </head>
    <body>
        <div class="header"> 
            <h3 id="tit">  המלצה </h3>

           </div>

        <div class="grid-container">
             <a href='/'><button type="submit" class="backbuton" onclick="location.href='MyCVHomePage.html'"> Return to Home Page</button></a>
            <div class="img2">
                <img src="{{ url_for('static', filename='photos/dyn.jpg') }}" alt= "BIP" width=200px >
             </div>   
            <div class="text3">
                <h3> </h3>
                <p>
                     12.4.2017<br>
                     &nbsp;&nbsp;,לכל מאן דבעי<br>                                                                      

 

                     &nbsp;&nbsp;.זיו בך עבדה תחת ניהולי בשנים 2017-2018 במחלקת שירות הלקוחות בחברת דין דיאגנוסטיקה&nbsp;<br>

 

                     &nbsp;&nbsp;במסגרת תפקידה הייתה זיו אחראית לנתינת שירות לקוחות עבור ציוד ומכשור רפואי מורכב, לטיפול בסוגיות תפעוליות ולוגיסטיות, ולשיתוף פעולה עם מגוון רחב של מחלקות בחברה&nbsp;<br>

                     &nbsp;&nbsp;במהלך עבודתה, זיו רכשה ידע ויכולות רבים בתחומי שירות הלקוחות, התפעול, הלוגיסטיקה, הניהול והמכירות בחברה&nbsp;<br>

                     &nbsp;&nbsp;זיו נכנסה במהירות רבה לתפקיד, גילתה סקרנות והגדלת ראש ראויים לציון, ולקחה אחראיות במהירות רבה על תחומי האחריות שלה&nbsp;<br>

                     &nbsp;&nbsp;בתפקיד שירות הלקוחות בחברה, הסבלנות ויכולת ההתנסחות ברורה מול מגוון מאוד רחב של לקוחות. זיו הצטיינה בתכונות אלו&nbsp;<br>

 

                     &nbsp;&nbsp;לזיו ישנן תכונות נוספות אשר יהפכו אותה לעובדת משמעותית בכל ארגון כגון מסירות, סדר, יחסי אנוש טובים, ויכולת תקשורת גבוהה&nbsp;<br>

 

                     &nbsp;&nbsp;,בברכה&nbsp;<br>

 

                     &nbsp;&nbsp;אמיר פזי&nbsp;

                     &nbsp;&nbsp;מנהל שירות הלקוחות בחברת דין דיאגנוסטיקה בע"מ&nbsp;
 

                     &nbsp;&nbsp;למידע נוסף בנוגע לזיו ניתן ליצור עימי קשר בטלפון     050-983-2000&nbsp;


                </p>
            </div>

        </div>

        
    </body>
</html>